@model MfxBi.Models.RequestDetailsViewModel

<h1>REQUEST DETAILS  <small>@Model.PendingRequest.BookingId</small></h1>

<dl class="dl-horizontal">
    <dt>RECEIVED</dt>
    <dd>@Model.PendingRequest.Received.ToString("ddd, d MMM yyyy")</dd>
</dl>



